<partial name="_ModalHeader" model='new ModalHeader { Heading = "Buscar en bibliomit.cl" }' />
<div class="modal-body">
    <script>
        (function () {
            var cx = '017438341139104196983:enqpg7qxa6w';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <gcse:search></gcse:search>
</div>
<partial name="_ModalFooter" model='new ModalFooter { }' />