@{
    ViewData["Title"] = "Analytics";
}

<partial name="_Libs" model='new List<string> { "chart", "analytics" }' />

<h1>@Localizer["Total visits per month"]</h1>

<div class="chartdiv w-100" style="height:500px;"></div>

<partial name="_AmCharts" />