@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = Localizer["Contact us for further information or technical support."];
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <p style="height:9vh;vertical-align:bottom;display: table-cell;font-size:24px"><h3>@ViewData["Message"]</h3></p>
            <hr />
            <address>
                <strong>AmiChile</strong> (Asociaci&oacute;n de Mitilicultores de Chile A. G.) <br />
                <abbr title="Horarios 9:00-18:00 hrs">Direcci&oacute;n:</abbr>
                <a target="_blank" href="https://goo.gl/maps/vbDi2BWtryv">Blanco 324 of.501, Castro, Chile</a><br />
                <abbr title="Horarios 9:00-18:00 hrs">Tel&eacute;fono:</abbr>
                <a href="tel:+56652630071">+56 65 263 0071</a>
            </address>
            <address>
                <strong>INTEMIT</strong> (Instituto Tecnol&oacute;gico de Mitilicultura) <br />
                <abbr title="Horarios 9:00-18:00 hrs">Direcci&oacute;n:</abbr>
                <a target="_blank" href="https://goo.gl/maps/iZqDSkpD7wy">Blanco 324 of.501, Castro, Chile</a><br />
                <abbr title="Horarios 9:00-18:00 hrs">Tel&eacute;fono:</abbr>
                <a href="tel:+56652531609">+56 65 253 1609</a>
            </address>
            <address>
                <strong>Administración:</strong> <a href="mailto:manager@bibliomit.cl">Manager@BiblioMit.cl</a><br />
                <strong>Soporte T&eacute;cnico:</strong> <a href="mailto:admin@bibliomit.cl">Admin@BiblioMit.cl</a>
            </address>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <a href="http://www.amichile.com/" target="_blank"><img src="~/images/ico/amichile.min.png" alt="AmiChile" class="img-fluid" style="padding-bottom:30px;height:20vh"/></a>
            <hr />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2942.4033726329635!2d-73.76608728497922!3d-42.48297637917881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x962219e59449e9c5%3A0xa56125b530f7869!2sAMICHILE+(Asoc.+de+Mitilicultores+de+Chile+A.G.)!5e0!3m2!1sen!2scl!4v1499308053174" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <a href="http://www.intemit.cl/" target="_blank">
                <img src="~/images/ico/intemit.min.png" alt="Intemit" class="img-fluid" style="padding-bottom:30px;height:20vh" />
            </a>
                <hr />
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2942.406961002778!2d-73.76608778497915!3d-42.48290007917886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x962219e594db5d79%3A0x74bad2e0fe239ca6!2sIntemit+Sa!5e0!3m2!1sen!2scl!4v1501194026025" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
    </div>
</div>