@{
    ViewData["Title"] = "Plataforma Ambiental";
}

@*tested with:
    amcharts v4.1.6 updated to 4.9.20
    marker clusterer v5.0.3*@
<partial name="_GMaps" />
<partial name="_ValidationScriptsPartial" />
<partial name="_AmCharts" />
<partial name="_LibsPg" model='new HashSet<string> { "@google/markerclustererplus", "bootstrap-datepicker", "choices.js", "moment.js", "popperjs", "tippy.js", "jqueryui" }' />

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="input-group input-daterange">
                    <input id="start" type="text" class="form-control actual_range" value="@ViewData["start"]">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            a
                        </div>
                    </div>
                    <input id="end" type="text" class="form-control actual_range" value="@ViewData["end"]">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <select class="form-control" id="variable" multiple></select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <select class="form-control" id="psmb" multiple></select>
                </div>
            </div>
            <div id="semaforo" class="row @(User.Identity.IsAuthenticated ? "" : "d-none")">
                <div class="col">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="tl" multiple></select>
                            </div>
                        </div>
                        <div class="row">
                            <button id="infobtn" class="btn btn-sm">
                                <i class="fas fa-question-circle fa-tw"> tabla de ayuda semáforo</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="w-100" id="map" style="height:275px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="chartdiv w-100" style="height:300px;"></div>
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div id="infotable" class="d-none" style="float:right;">
        <table class="small table-striped text-center w-100">
            <tr>
                <th>Análisis</th>
                <th>PSMB</th>
                <th>Especie</th>
                <th>Talla</th>
                <th>Larva</th>
                <th>Est.Repr.</th>
                <th>Sexo</th>
            </tr>
            <tr>
                <th class="text-left">Captura por Especie</th>
                <td>&#x2713;</td>
                <td>&#x2713;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="text-left">% Especie</th>
                <td>&#x2713;</td>
                <td>&#x2713;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="text-left">% Talla por Especie</th>
                <td>&#x2713;</td>
                <td>&#x2713;</td>
                <td>&#x2713;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="text-left">Prom Larvas por Especie</th>
                <td>&#x2713;</td>
                <td>&#x2713;</td>
                <td></td>
                <td>&#x2713;</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="text-left">IG Reproductores</th>
                <td>&#x2713;</td>
                <td>&#x2713;</td>
                <td></td>
                <td></td>
                <td></td>
                <td>&#x2713;</td>
            </tr>
            <tr>
                <th class="text-left">% Est.Repr.</th>
                <td>&#x2713;</td>
                <td>&#x2713;</td>
                <td></td>
                <td></td>
                <td>&#x2713;</td>
                <td></td>
            </tr>
            <tr>
                <th class="text-left">% Sexo</th>
                <td>&#x2713;</td>
                <td>&#x2713;</td>
                <td></td>
                <td></td>
                <td></td>
                <td>&#x2713;</td>
            </tr>
        </table>
    </div>
}