@model SetPasswordViewModel
@{
    ViewData["Title"] = "Configurar contraseña";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    No tiene un nombre de usuario y contraseña locales para este sitio.
    Agregue una cuenta local para que pueda iniciar sesi&oacute;n sin un inicio de sesi&oacute;n externo.
</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">@ViewData["Title"]</button>
        </form>
    </div>
</div>

    <partial name="_ValidationScriptsPartial" />

