header {
    height: calc(100vh - 66px);
}

iframe {
    width: 100vw;
    height: calc(100vh - 66px);
}

footer {
    background: linear-gradient(transparent,black) !important;
    opacity: 0.5;
}

#toolbar_documentViewer > img.flowpaper_tbbutton.flowpaper_bttnFullscreen{
    display:none;
}