@using Microsoft.AspNetCore.Builder
@*@using Microsoft.AspNetCore.Http.Features*@
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<li class="nav-item dropdown text-center m-0">
    <a class="nav-link dropdown-toggle" id="lang" role="button" data-mdb-toggle="dropdown"
       aria-expanded="false">
        <div>
            <i class="flag flag-@Localizer["gb"] m-0"></i>
        </div>
        <span class="small">@Localizer["English"]</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end m-0" aria-labelledby="Index">
        <li>
            <form id="selectLanguage" asp-controller="Home"
                  asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
                  method="post" role="form" asp-route-culture="@Localizer["es"].Value">
                <a class="dropdown-item" onclick="$('#selectLanguage').submit();">
                    <i class="flag flag-@Localizer["cl"]"></i> 
                    <span class="small">
                        @Localizer["Español"]
                    </span>
                </a>
            </form>
        </li>
    </ul>
</li>
